.sidebar {
  padding: 0 3%;
  width: 150px;
  background-color: rgb(235, 235, 235);
  border-right: 1px solid rgb(97, 97, 97);
  padding-top: 10px;
}

@media only screen and (max-width: 560px) {
  .sidebar {
    align-self: center;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid rgb(97, 97, 97);
    border-right: none;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
}
