.noteListContainer {
  width: 80%;
  display: block;
}

.noteList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.noteInstance {
  display: block;
  width: auto;
  margin: 20px;
}

.formTitle {
  margin-bottom: 15px;
}
