.noteListContainer {
  display: block;
  /* align-self: flex-start; */
  padding: 10px;
  align-self: stretch;
}

.noteList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.noteButton {
  margin-left: 20px;
}

.noteInstance {
  display: block;
  width: auto;
  margin: 0 20px 0;
}

.formTitle {
  margin-bottom: 15px;
}

@media only screen and (max-width: 560px) {
  .noteListContainer {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .noteList {
    flex-direction: column;
    align-items: center;
  }
  .noteInstance {
    text-align: center;
  }
  .noteButton {
    margin-left: 0;
  }
}
