body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p,
ul,
li {
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.appTitle {
  text-align: center;
}

.backButton {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  padding: 0.35em 1.2em;
  width: auto;
  text-align: center;
  border: 0.1em solid black;
  border-radius: 0.2em;
  margin: 0 0.3em 0.3em 0;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  background-color: transparent;
}

.backButton:hover {
  color: #000000;
  background-color: rgb(173, 167, 228);
}

.addButton {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  padding: 0.35em 1.2em;
  width: auto;
  text-align: center;
  border: 0.1em solid black;
  border-radius: 0.2em;
  margin: 0 0.3em 0.3em 0;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  background-color: transparent;
}

.addButton:hover {
  color: #000000;
  background-color: rgb(173, 167, 228);
}

.error {
  color: red;
  margin-top: 8px;
}

.inputLabel {
  margin-top: 8px;
}

.noteContentContainer {
  width: 80%;
  margin-right: 50px;
  align-self: flex-start;
}
