body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p,
ul,
li {
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.appTitle {
  text-align: center;
}

.addButton {
}

@media only screen and (min-width: 820px) {
  .mainContainer {
    flex-direction: row;
  }
}
